:root {
    --extend: 0;
}

#srtContainer {
    display: flex;
}

#left {
    position: relative;
    width: 50%;
}


#right {
    position: relative;
    width: 50%;
}

.cue {
    position: absolute;
    border-style: solid;
    resize: vertical;
    overflow: auto;
}